.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
.DS_Store
.quarto
inst/doc
/doc/
/Meta/
docs
r.package.template.Rcheck/
r.package.template*.tar.gz
r.package.template*.tgz
**/.quarto/
**/*.quarto_ipynb
vignettes/*.pdf
vignettes/*.tex
README.html
